In [ ]:
n = 10
N = (n + 4 ) % 5 + 1
N

<img src="./imgs/tasks.png" alt="tasks" width="400" height="200">

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

filename = 'NationalNames.csv'
df = pd.read_csv(filename)

<img src="./imgs/task2.png" alt="task2" width="400" height="200">

In [ ]:
# task 2
df.iloc[-8:]

<img src="./imgs/task4.png" alt="task4" width="400" height="200">

In [ ]:
# task 4

df.describe()

<img src="./imgs/task6.png" alt="task6" width="400" height="200">

In [ ]:
#task 6

gender_name_counts = df.groupby('Gender').agg({'Name': 'nunique'})
gender_name_counts

<img src="./imgs/task7.png" alt="task7" width="400" height="200">

In [ ]:
# task 7

df_2010 = df[df['Year'] == 2010]
df_male_2010 = df_2010[df_2010['Gender'] == 'M']

top_5_popular_male_names = df_male_2010.sort_values(by='Count', ascending=False).head(5)


top_5_popular_male_names

<img src="./imgs/task9.png" alt="task9" width="400" height="200">

In [ ]:
# task 9

min_count = df['Count'].min()
min_count_records = df[df['Count'] == min_count]

min_count_records.shape[0]

<img src="./imgs/task10.png" alt="task10" width="400" height="200">

In [ ]:
# task 10

unique_names_by_year = df.groupby('Year').agg({'Name': 'nunique'})
unique_names_by_year

<img src="./imgs/task15.png" alt="task15" width="400" height="200">

In [ ]:
# task 15

count_per_year = df.groupby('Year').agg({'Count': 'sum'})
count_per_year

<img src="./imgs/task16.png" alt="task16" width="400" height="200">

In [ ]:
# task 16

children_per_year = df.groupby('Year')['Count'].sum()

year_with_max_children = children_per_year.idxmax()
year_with_max_children

<img src="./imgs/task17.png" alt="task17" width="400" height="200">

In [ ]:
# task 17

birth_rate = df.groupby(['Year', 'Gender']).agg({'Count': 'sum'}).unstack(fill_value=0)

birth_rate

<img src="./imgs/task18.png" alt="task18" width="400" height="200">

In [ ]:
# task 18

birth_rate = df.groupby(['Year', 'Gender']).agg({'Count': 'sum'}).unstack(fill_value=0)
years_with_more_girls = (birth_rate[('Count', 'F')] > birth_rate[('Count', 'M')]).sum()

years_with_more_girls

<img src="./imgs/task20.png" alt="task20" width="400" height="200">

In [ ]:
# task 20

name_gender_count = df.groupby(['Name', 'Gender']).size().unstack()
common_names = name_gender_count[(name_gender_count['F'] > 0) & (name_gender_count['M'] > 0)]
common_names_count = common_names.shape[0]

common_names_count

<img src="./imgs/task21.png" alt="task21" width="400" height="200">

In [ ]:
# task 21

male_name_barbara = df[(df['Name'] == 'Barbara') & (df['Gender'] == 'M')]['Count'].sum()

male_name_barbara

<img src="./imgs/task22.png" alt="task22" width="400" height="200">

In [ ]:
# task 22

min_year = df['Year'].min()
max_year = df['Year'].max()

year_difference = max_year - min_year + 1
print(f'Спостереження проводилось {year_difference} років')

<img src="./imgs/task23.png" alt="task23" width="400" height="200">

In [ ]:
# task 23

name_gender_year_count = df.groupby(['Year', 'Name', 'Gender']).agg({'Count': 'sum'}).unstack(fill_value=0)

gender_neutral_names = name_gender_year_count[(name_gender_year_count['Count']['F'] > 0) & 
                                              (name_gender_year_count['Count']['M'] > 0)].copy()

gender_neutral_names['Total_Count'] = gender_neutral_names['Count']['F'] + gender_neutral_names['Count']['M']

unique_years = df['Year'].nunique()
names_present_every_year = gender_neutral_names.groupby('Name').filter(lambda x: len(x) == unique_years)

most_popular_gender_neutral_names_per_year = names_present_every_year.groupby('Year').apply(lambda x: x.loc[x['Total_Count'].idxmax()])

most_popular_gender_neutral_names_per_year

<img src="./imgs/task24.png" alt="task24" width="400" height="200">

In [ ]:
# task 24

threshold = 160
name_count = df.groupby(['Name']).agg({'Count': 'sum'})

unpopular_names = name_count.sort_values(by='Count')

unpopular_names = unpopular_names[unpopular_names['Count'] >= threshold]

most_popular_unpopular_name = unpopular_names.iloc[0]  
most_popular_unpopular_name

<img src="./imgs/task25.png" alt="task25" width="400" height="200">

In [ ]:
# task 25

name_year_count = df.groupby(['Year', 'Name']).agg({'Count': 'sum'}).reset_index()
filtered_names = name_year_count[name_year_count['Name'].isin(['John', 'Mary'])]

pivot_table = filtered_names.pivot(index='Year', columns='Name', values='Count').fillna(0)

plt.figure(figsize=(8, 8), dpi=100) 
plt.plot(pivot_table.index, pivot_table['John'], label='John')
plt.plot(pivot_table.index, pivot_table['Mary'], label='Mary')


plt.title('Распределение имен John и Mary по годам')
plt.xlabel('Год')
plt.ylabel('Количество')

plt.legend()

# Показываем график
plt.show()

<img src="./imgs/task26.png" alt="task26" width="400" height="200">

In [ ]:
# task 26

name_year_gender_count = df.groupby(['Year', 'Name', 'Gender']).agg({'Count': 'sum'}).reset_index()
filtered_names = name_year_gender_count[
    ((name_year_gender_count['Name'] == 'John') & (name_year_gender_count['Gender'] == 'M') |
     (name_year_gender_count['Name'] == 'Mary') & (name_year_gender_count['Gender'] == 'F'))
]

pivot_table = filtered_names.pivot(index='Year', columns='Name', values='Count').fillna(0)

plt.figure(figsize=(8, 8), dpi=100) 
plt.plot(pivot_table.index, pivot_table['John'], label='John (Мужской)')
plt.plot(pivot_table.index, pivot_table['Mary'], label='Mary (Женский)')


plt.title('Распределение имен John и Mary по годам')
plt.xlabel('Год')
plt.ylabel('Количество')

plt.legend()

# Показываем график
plt.show()

<img src="./imgs/task27.png" alt="task27" width="400" height="200">

In [ ]:
# task 27

name_year_count = df.groupby(['Year', 'Name']).agg({'Count': 'sum'})

unique_years = df['Year'].nunique()
names_present_every_year = name_year_count.groupby('Name').filter(lambda x: len(x) == unique_years)

most_popular_names_per_year = names_present_every_year.loc[names_present_every_year.groupby('Year')['Count'].idxmax()]
most_popular_names_per_year